.bg-color {
  background-color: #E0E0E0;
}

.header {
  height: 180px;
  background-color: #00C853;
  width: 100%;
  padding-top: 1px;
  border-radius: 0px 0px 50px 50px;
}

.header h1 {
  color: white;
  line-height: 1!important;
  text-align: center;
  font-weight: bold;
}

.header h6 {
  color: #E0E0E0;
  font-size: 15px;
  margin-top: -5px!important;
  min-height: 34px;
  text-align: center;
}

.segment {
  margin-top: 40px;
  border-radius:-50px 50px 50px -50px;
  align-items: center;
}

.segmentbtn {
  --background: #ffffff;
  --color: #000000;
  --color-checked: #212121;
  --background-checked: #9E9E9E;
  --indicator-color: #9E9E9E;
  --border-radius:50px 50px 50px 50px;
}